<form #frm="ngForm" (ngSubmit)="editItem(frm)">

    
      <div class="form-group row">
            <label for="example-text-input" 
            class="col-2 col-form-label">Email</label>
            <div class="    col-10">
              <input class="form-control" 
              type="text"
               value="Artisanal kale"
               id="example-text-input"
               name="email"
               ngModel
               required>
            </div>
          </div>
    
      <div class="form-group row">
        <label for="example-text-input" 
        class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <input class="form-control" 
          type="text"
           value="Artisanal kale"
           id="example-text-input"
           name="password"
           ngModel
           required>
        </div>
      </div>


      <div class="float-middle">
            <button type="submit" name="button" class="btn btn-success" [disabled]="frm.invalid">Register</button>
        </div>

    </form>